<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timerapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/alarm"
        android:label="Timer"
        android:roundIcon="@drawable/alarm"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimerApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>